<!DOCTYPE html>
<html>
<head>
  <title>Instructions</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="center">

  <h1>Instructions</h1>

  This study consists in 3 blocks of {{maxtrials}} trials. </p>

  In each block, you will be introduced to a description model. Make sure you feel relatively comfortable with this model before continuing. Once the block starts, you will be asked to perform the trials. Each trial contains 1 description and {{numVideos}} interactive spaces videos. </p>

  <strong>Your task is to choose which video you think that most accurately corresponds the description presented.</strong> </p>

  Your choice needs to be the most accurate, and—without sacrificing accuracy—as quick as you can. </p>
  <!--This choice needs to be as <strong>quick</strong> and <strong>accurate</strong> as possible. </p>

  You will be provided some practice to get used to this procedure. After the trainning, real data collection starts. </p>

  We kindly ask you to avoid interruptions during your task and to be as <strong>accurate</strong> as possible. </p-->

  If you have any question, do not hesitate to ask the experimenter.</p>

  Press the button below if instructions are clear.</p>

  <form action="/important" method="get">
  <button class="button"> <span> Continue </span> </button>
  </form>
</body>
</html>
