<!DOCTYPE html>
<html>
<head>
  <title>Pause</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="center">

  <h1>Pause!</h1>

  Good job, thank you! </p>

  {{message}}</p>

  Press the button below whenever you're ready.</p>

  <form action="/block" method="get">
  <button class="button"> <span> Continue </span> </button>
  </form>
</body>
</html>
